<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>About Page</h2>
      <p>Nagano Cakeは全国へ発送可能なケーキ屋となります。</p>
      <p>お子様からお年寄りの方までお召し上がりいただけるように、</p>
      <p>様々なバリエーションをご用意いたしております。</p>
      <p>また、全国へ発送可能となりますのでこの機会にぜひご利用ください。</p>
    </div>
  </div>
</div>
