<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>ようこそ！Nagano Cakeへ。</h2>
      <p>このサイトは、ケーキや様々な種類のスイーツを販売するECサイトです。</p>
      <p>会員でない方も、商品はご覧いただけますが、</p>
      <p>ご購入の際は、会員登録が必要となります。</p>
    </div>
  </div>
</div>
